* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  /* border-bottom: 1px solid black; */
  padding: 30px;
  width: 100%;
  display: fixed;
  top: 0;
}

.nav-items {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
}

.nav-items div {
  margin: 0 40px 0 40px;
  cursor: default;
}

.logo {
  height: 50px;
  width: 300px;
}
